.header {
    padding: 60px;
    text-align: center;
}
.main_body {
    text-indent: 60px;
}
.basic_text {
    background-color:#FFFFFF;
    color:#ce4814;
    font-family:'Roboto',sans-serif;
}
.column20 {
    float: left;
    width:20%;
}
.column50 {
    float: left;
    width: 50%;
}
.column60 {
    float: left;
    width: 60%;
}
.centre {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#ce4814;
    text-align:center;
    transition: all 0.2s;
}
.button1:hover{
    color:#FFFFFF;
    background-color:#ce4814;
}
p {
    text-indent: 60px;
}